<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-6">
			<form>
				<div id="user-data">
					<div class="form-group">
						<label for="Title">Naslov</label>
						<input type="text" id="Title" class="form-control">
					</div>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Sporočilo</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="secret">Izberi banko</label>
					<select id="secret" class="form-control">
						<option value="pet">NLBSI</option>
						<option value="teacher">NLBMK</option>
						<option value="teacher">NLBRS</option>
						<option value="teacher">NLBSA</option>
						<option value="teacher">NLBKO</option>
						<option value="teacher">DEH</option>
						<option value="teacher">ABANKA</option>
					</select>
				</div>
				<button class="btn btn-primary" type="button">Submit</button>
			</form>
		</div>
	</div>
</div>
<hr>
