<table class="table">
	<thead class="thead-dark">
	<tr>
		<th scope="col">ID</th>
		<th scope="col">TITLE</th>
		<th scope="col">BODY</th>
		<th scope="col">APPLICATIONSID</th>
		<th scope="col">createdAt</th>
		<th scope="col">updatedAt</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let notifications of loadedPosts">
		<th scope="row">{{ notifications.ID }}</th>
		<td>{{notifications.TITLE}}</td>
		<td>{{notifications.BODY}}</td>
		<td>{{notifications.APPLICATIONSID}}</td>
		<td>{{notifications.createdAt | date:'medium' }}</td>
		<td>{{notifications.updatedAt | date:'medium' }}</td>
	</tr>
	</tbody>
</table>

