<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<div class="kt-header__topbar-user">
			<!--			<span class="kt-header__topbar-welcome">Hi,</span>-->
			<!--			<span class="kt-header__topbar-username">{{_user.sAMAccountName}}</span>-->
			<!--			<img alt="Pic" src="./assets/media/users/default.jpg">-->
			<span class="kt-header__topbar-username" (click)="logout()">Sign Out</span>

		</div>
	</div>
	<!--	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">-->
	<!--		&lt;!&ndash;begin: Head &ndash;&gt;-->
	<!--		<div class="kt-user-card kt-user-card&#45;&#45;skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">-->
	<!--			<div class="kt-user-card__name">-->
	<!--				{{_user.displayName}}-->
	<!--			</div>-->
	<!--		</div>-->
	<!--		&lt;!&ndash;end: Head &ndash;&gt;-->

	<!--		&lt;!&ndash;begin: Navigation &ndash;&gt;-->
	<!--		<div class="kt-notification">-->
	<!--			<a routerLink="profile" href="javascript:;" class="kt-notification__item">-->
	<!--				<div class="kt-notification__item-icon">-->
	<!--					<i class="flaticon2-calendar-3 kt-font-success"></i>-->
	<!--				</div>-->
	<!--				<div class="kt-notification__item-details">-->
	<!--					<div class="kt-notification__item-title kt-font-bold">-->
	<!--&lt;!&ndash;						{{_user.department}}&ndash;&gt;-->
	<!--						test-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</a>-->
	<!--			<a routerLink="profile" href="javascript:;" class="kt-notification__item">-->
	<!--				<div class="kt-notification__item-icon">-->
	<!--					<i class="flaticon2-mail kt-font-warning"></i>-->
	<!--				</div>-->
	<!--				<div class="kt-notification__item-details">-->
	<!--					<div class="kt-notification__item-title kt-font-bold">-->
	<!--						&lt;!&ndash;						{{_user.title}}&ndash;&gt;-->
	<!--						My Messages-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</a>-->
	<!--			<div class="kt-notification__item">-->
	<!--				<div class="kt-notification__item-icon">-->
	<!--					<i class="flaticon2-rocket-1 kt-font-danger"></i>-->
	<!--				</div>-->
	<!--				<div class="kt-notification__item-details">-->
	<!--					<div class="kt-notification__item-title kt-font-bold">-->
	<!--						&lt;!&ndash;						{{_user.mail}}&ndash;&gt;-->
	<!--						mail-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--			<div class="kt-notification__custom">-->
	<!--				<a href="javascript:;" (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">Sign Out</a>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--		&lt;!&ndash;end: Navigation &ndash;&gt;-->
	<!--	</div>-->
</div>
<!--<div class="kt-header__topbar-item kt-header__topbar-item&#45;&#45;user">-->
<!--	<button mat-raised-button (click)="logout()">Sign Out</button>-->
<!--</div>-->
